/*example of attribute selector*/
img[src]{
    width:500px;
    height:400px;
    border:1px solid red;
    position: relative;
}

/*example of psuedo-class selectors */
a:hover{
    color:red;
    text-decoration: none;
}